@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Jacquarda+Bastarda+9&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nabla&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Google Sans Code';
    text-decoration: none;
}

body{
    background-color: #010828;
}

header{
    background-image: url('pics/IMG_6109.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(13, 13, 14, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
    color: #fff;
}

header h1{
    font-family: 'Google Sans Code';
    font-size: 90px;
    font-weight: 40;
}

.navbar{
    position: absolute;
    display: flex; 
    width: 100%;  
    align-items: center;
    justify-content: center;
    color: #fff;
}

.navbar ul{
    display: flex;
    padding: 1rem;
    border: 1.5px solid #fff;
    border-radius: 16px;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    overflow: hidden;
}

.navbar li{
    margin: 2rem 4rem 2rem 4rem;
    font-size: 20px;
}

.navbar li:hover{
    color: #795CEB;
    border-bottom: 1px solid #795CEB;
}

.navbar a{
    color: #fff;
}

.navbar a:hover{
    color: #795CEB;
}

.about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.PFimg img{
    border-radius: 16px;
}

.about-myself{
    margin-left: 1rem;
    width: 40%;
    color: #795CEB;
}

.about-myself h1{
    border-bottom: 2px solid #795CEB;
    width: fit-content;
    margin-bottom: 2rem;
}

.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #795CEB;
    font-family: 'Google Sans Code';
}

.my-work h1{
    margin: 2rem;
    border-bottom: 2px solid #795CEB;
}

.work-items-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.work-items{
    font-family: 'Google Sans Code';
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 5rem;
    width: 100%;
}

.work-items h2{
    margin-bottom: 1rem;
}

.work-items p{
    margin-bottom: 2rem;
}

.work-items img{
    border-radius: 20px;
}

.work-items a{
    padding: 20px;
    text-decoration: none;
    background-color: #795CEB;
    border-radius: 16px;
    color: #fff;
    margin-top: 2rem;
}

.work-items a:hover{
    cursor: pointer;
    background-color: #fff;
    color: #795CEB;
}

.work-description{
    margin: 1.5rem;
}

.work-description-real{
    margin: 1.5rem;
    width: 40%;
}

.club-president .web-dev{
    justify-content: flex-start;
    text-align: right;
    width: 100%;
    margin-left: 50px;
}

.modelling{
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #795CEB;
    font-family: 'Google Sans Code';
}

.hobbies h1{
    margin: 2rem;
    border-bottom: 2px solid #795CEB;
}

.footer{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #795CEB;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #795CEB;    
}

.contact li{
    margin: 1rem;
    display: flex;
    align-items: center;
}

.contact img{
    margin: 1rem;
}

.contact ul{
    background-color: #fff;
    border-radius: 20px;
    width: 40%;
}

.contact h1{
    margin: 2rem;
    border-bottom: 2px solid #795CEB;    
}